.nav {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 0.3rem;
    background-color: var(--colour-primary);
    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 10%),
        0 2px 4px -2px rgb(0 0 0 / 10%);

    a, &__user-dropdown-button {
        color: white;
    }

    &__home-link {
        font-size: 3rem;
        margin-right: 1rem;

        &:hover {
            color: var(--colour-secondary);
        }
    }

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__link {
        margin: 0 auto;
        padding: 0.5rem;

        & + & {
            margin-left: 1rem;
        }

        &:hover {
            color: var(--colour-secondary);
        }
    }

    &__user-menu {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__user-dropdown-button {
        display: flex;
        position: relative;
        cursor: pointer;
        padding: 0 1rem;

        i {
            margin-left: 0.3rem;
        }
    }

    &__user-dropdown-button-inner {
        display: flex;

        &:hover {
            color: var(--colour-secondary);
        }

    }

    &__user-dropdown {
        display: none;
        position: absolute;
        top: calc(100% + 1rem);
        right: 1rem;
        font-size: 1rem;
        padding: 1rem;
        background-color: var(--colour-primary);
        box-shadow:
            0 0 0.2rem black;

        a, button {
            color: inherit;

            &:hover {
                color: var(--colour-secondary);
            }
        }

        &--open {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }

        > * + *{
            margin-top: 1rem;
        }
    }
}
