.training-session-index {
    display: flex;
    flex-direction: column;

    > * + * {
        margin-top: 1rem;
    }

    &__items-and-trainees {
        display: flex;
        flex-direction: row;

        & > * {
            min-width: 1px;
            flex: 1;
        }
    }

    &__items, &__trainees {
        h3 {
            margin: 0;
        }

        ul {
            margin: 0.2rem 0 0;
        }
    }

    &__session-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .c-button {
            margin: 0 0 0 auto;
        }
    }
}
