.c-dropdown {
    position: relative;

    &__dropdown-indicator {
        margin-left: 0.5rem;
    }

    &__trigger {
        cursor: pointer;
    }

    &__content {
        display: none;
        position: absolute;
        flex-direction: column;

        top: calc(100% + 1rem);
        background-color: white;
        box-shadow:
            0 4px 6px -1px rgb(0 0 0 / 10%),
            0 2px 4px -2px rgb(0 0 0 / 10%);
        padding: 1rem;
        left: 0;
        white-space: nowrap;

        * {
            color: black !important;
        }

        & * + * {
            margin-top: 0.5rem;
        }

        &--active {
            display: flex;
        }

        &--right-aligned {
            left: unset;
            right: 0;
        }
    }
}
