header {
    background-color: blue;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #login-out-button {
        margin-left: auto;
    }
}

