.main {
    @include flex();
    background-color: aquamarine;
    height: 100%;

    &__inner {
        max-width: 1920px;
        width: 95%;
        margin: 0 auto;
        height: 100%;
        @include flex();
        background-color: aqua;
    }
}
