{% extends 'layouts/base.html.twig' %}

{% block body %}
<ul>
    {% for training_category in training_categories %}
    <li id="{{ training_category.name }}">
{{ training_category.name }}
    </li>
    {% endfor %}
</ul>
{% endblock %}
